body{
  font-size: 24px;
}

nav{
  background-color: #dddddd;

}

#intro{
  background-color: lightgray;
  text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
  align-self: center;
  display: inline;
  float: left;
}

a{
    margin-left: 5px;
    margin-right: 5px;
}
